$petrol-1: rgba(230, 236, 236, 1);
$petrol-2: rgba(191, 208, 209, 1);
$petrol-3: rgba(125, 164, 167, 1);
$petrol-4: rgba(45, 127, 131, 1);
$petrol-5: rgba(0, 97, 101, 1);
$petrol-6: rgba(0, 46, 49, 1);

$yellow: rgba(236, 185, 32, 1);

$background-tint-1: rgba(0, 0, 0, 0.2);
$background-tint-2: rgba(0, 0, 0, 0.2);
$background-tint-3: rgba(0, 0, 0, 0.3);
$background-tint-4: rgba(0, 0, 0, 0.4);
$background-tint-5: rgba(0, 0, 0, 0.5);
