name: check-commit-message
on: [push]
jobs:
  check-commit-message:
    name: GS Commit Message Checker
    runs-on: ubuntu-latest
    steps:
      - name: Check Commit Prefix
        uses: GsActions/commit-message-checker@v1
        with:
            pattern: '(build|ci|docs|feat|fix|perf|refactor|test): (.*)'
            error: 'The commit message does not contain a type that is included in the Angular guidelines. Check https://github.com/angular/angular/blob/master/CONTRIBUTING.md#type'
            excludeDescription: 'true'
            excludeTitle: 'true'
            checkAllCommitMessages: 'true'
            accessToken: ${{ secrets.ACCESS_TOKEN }}
